.img-hero {
  width: clamp(150px, 30vw, 320px);
}

.dot {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0.5);
  border-radius: 999px;
  cursor: pointer;
}
.dot:hover { background: white; }

#cepbox {
  display: none;
}


@media (max-width: 865px) {
#departamentos {
    display: none;
  }
}

@media (max-width: 768px) {
  .slide {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  header input[type="search"] {
    font-size: 14px;
  }
}

