input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fade {
  transition: opacity 0.3s ease;
}

.hidden {
  display: none !important;
}
