@use 'design-system' as ds;

.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: clamp (1.5rem, 2.5rem);
  }

  .hero-img {
    object-fit: cover;
    width: clamp (12rem, 30vw, 18rem);
  }
}
